.dk {
    display: none !important;
    z-index: 2;
}

.dk-1 {
    display: flex !important;
    position: absolute !important;
    background-color: #fff;
    z-index: 2;
}

.dk-2 {
    display: flex !important;
    position: absolute !important;
    background-color: #fff;
    z-index: 2;
}